# ------------------------------------------
# ------------------- OS -------------------
# ------------------------------------------
# MacOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.dccache
# IDEs and editors
.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules/*
.vscode
package-lock.json