# ------------------------------------------
# ------------------- OS -------------------
# ------------------------------------------
# MacOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
node_modules

# IDEs and editors
.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/
.vscode/launch.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ------------------------------------------
# ----------------- NodeJS -----------------
# ------------------------------------------
.package-lock.json
launch.json
node_modules
.nyc_output
coverage
pnpm-lock.yaml
yarn.lock

# ------------------------------------------
# ------------------ AWS -------------------
# ------------------------------------------
tmp/*
!tmp/.gitkeep
tmp
